.home-container{
}


/* Products List */
.list-products-container {
  position: relative;
  background-image: url('https://res.cloudinary.com/dkokkltme/image/upload/v1760247398/bg-flash-sale_hlqx2x.webp');
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
}

.list-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 60%;
  margin: auto;
}

.preferential-timer {
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 20px;
}

.preferential-text{
  font-size: 50px;
  color: #fff;
}

/* Banner */
.container-img-banner {
    display: flex;
    width: 60%;
    margin: 0 auto; 
    gap: 10px;
    padding: 10px;
}


.banner-large {
    flex: 1; 
    min-width: 40%;
    overflow: hidden;
}

.right-column {
    flex: 1.5;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    min-width: 50%;
}

.bottom-row {
    display: flex;
    gap: 10px;
}

.banner-medium {
    overflow: hidden;
}


.banner-small {
    flex: 1;
    overflow: hidden;
}

.container-img-banner img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Male Collection */
.male-collection{
    width: 60%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.container-male-img img{
    width: 90%;
}

/* Event Home */
.event-home{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 600px;
    background-image: url(https://res.cloudinary.com/dkokkltme/image/upload/v1760260953/img_product_lookbook_mtobq7.webp);
}
.event-img-home{
    border-radius: 10px;
    border: 1px solid white;
}

.text-event-container {
    width: 40%;
    font-family: Arial, sans-serif;
}

.event-title-home {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.event-contenthome {
    line-height: 1.6;
    text-align: justify;
    color: white;
}

.event-content-home p {
    line-height: 30px;
    margin-bottom: 15px;
    color: white;
}
.event-view-btn{
    background-color: #ff4d4d;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
}

/* Black Friday Event */
.blacfriday-event-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dkokkltme/image/upload/v1760262600/bg-black-friday_kwuogx.webp);
}
.containet-blackfriday{
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100px;
    background-color: #ffe8d49d;
}

/* Estimate */
.estimate-home{
    background-color: #faf4f1;
}
.estimate-img{
    width: 50%;
    display: flex;
    margin: auto;
}
.estimate-img img{
    width: 35%;
    margin: 20px;
}

.estimate-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Outstading Product */
.outstanding-container{
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
}